/* Colors */
$textColorOnWhite: #000000;
$textColorOnPink: #ffffff;
$pink: #E00B71;
$green: #6FE15D;
$white75: rgba(255, 255, 255, .75);
$black75: rgba(0, 0, 0, .75);
$black50: rgba(0, 0, 0, .5);
$black25: rgba(0, 0, 0, .25);
$userOrange: #FF8D23;
$userPurple: #853AFF;
$userGreen: #4EDC1C;

/* Text */
$fontFamily: 'Lato', sans-serif;
$fontBold: 700;
$fontNormal: 400;

/* Paddings & Margins */
$normalPadding: 1rem;
