@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.input-primary {
    position: relative;
    width: 100%;
}

.input-primary-style {
    border: none;
    border-bottom: solid 1px $pink;
    padding: .5rem .2rem;
    margin-bottom: 1.2rem;
    font-size: 1rem;
    width: 100%;
}

.input-primary-style:focus {
    outline: none;
}

.input-primary-style::placeholder {
    color: rgba(0, 0, 0, .5);
}

.input-label {
    font-size: .75rem;
}

.input-error {
    position: absolute;
    bottom: 0;
    display: block;
    color: red;
    opacity: 0;
    transform: translateY(-10px);
    transition: all .2s ease;
}

.input-error-show {
    opacity: 1;
    transform: translateY(0px);
}